.koturno-style {
    color: black;
    font-variant: small-caps;
    text-align: center;
    font-size: 20px;
}

.dashboard-title {
    font-size: 70px;
}

.additional-comments {
    font-size: 25px;
}

.main-menu {
    font-size: 30px;
    line-height: 100px;
}

.host-info-comments {
    font-size: 50px;
}

.host-info-additional-comments {
    font-size: 40px;
}

.error-code {
    font-size: 150px;
}

.small-button-label {
    color: blue;
    cursor: pointer;
}

.small-button {
    width: 75px;
    height: 25px;
    margin: auto;
}

a {
    color: blue;
    text-decoration: none;
}

.selected-page {
    color: grey;
}

th {
    text-align: center;
}

td {
    text-align: center;
}