.koturno-style {
    font-variant: small-caps;
}

.koturno-darkest {
    background-color: #151515 !important;
}

.koturno-darker {
    background-color: #171717 !important;
}

.koturno-dark {
    background-color: #1a1a1a !important;
}

html,body {
  height: 100%;
}
