.koturno-style {
    color: black;
    font-variant: small-caps;
}

.koturno-darkest {
    background-color: #303030 !important;
}

.koturno-darker {
background-color: #414141 !important;
}

.koturno-dark {
background-color: #505050 !important;
}
