<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Dodawanie hosta</title>
    <link rel="stylesheet" href="/koturno.css"/>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Wszystkie hosty</a>
    <a th:href="@{/history}">Historia</a>
</div>
<p>Host został dodany</p>
<br>
<a th:href="@{/hosts}">Wróć</a>
</body>
</html>