<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Dodawanie hosta do grupy</title>
    <link rel="stylesheet" href="/koturno.css"/>
    <script src="/sender.js"></script>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Hosty</a>
    <a th:href="@{/groups}">Grupy</a>
    <a th:href="@{/history}">Historia</a>
</div>

<p class="additional-comments">Not implement yet</p>

</body>
</html>