<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Grupy</title>
    <link rel="stylesheet" href="/koturno.css"/>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Hosty</a>
    <a th:href="@{/groups}" class="selected-page">Grupy</a>
    <a th:href="@{/history}">Historia</a>
</div>
<div>
    <p class="additional-comments">Jeszcze nieobsługiwane</p>
</div>
</body>
</html>