<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Grupy</title>
    <link rel="stylesheet" href="/koturno.css"/>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Hosty</a>
    <a th:href="@{/groups}" class="selected-page">Grupy</a>
    <a th:href="@{/history/1}">Historia</a>
</div>
<div>
    <p><a th:href="@{/group/new}">Dodaj grupę</a></p>
    <div th:if="${groups.size() == 0}" class="additional-comments">Lista grup jest pusta!</div>
    <div th:unless="${groups.size() == 0}" class="table-with-elements" align="center">
        <table border="2">
            <thead>
            <tr>
                <th>Lp.</th>
                <th>Nazwa</th>
                <th>Opis</th>
                <th>Liczba hostów</th>
                <th>Szczegóły</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="group : ${groups}">
                <td th:text="${groupStat.index + 1}"></td>
                <td th:text="${group.name}"></td>
                <td th:text="${group.description}"></td>
                <td th:text="${group.hosts.size()}"></td>
                <td><a th:href="@{/group/{id}(id=${group.id})}">zobacz</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>