<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Historia</title>
    <link rel="stylesheet" href="/koturno.css"/>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Wszystkie hosty</a>
    <a th:href="@{/history}" class="selected-page">Historia</a>
</div>
<div th:if="${numberOfinaccessibilities == 0}" class="additional-comments">Brak zarejestrowanych niedostępności w bazie danych!</div>
<div th:unless="${numberOfinaccessibilities == 0}" class="table-with-elements" align="center">
    <table border="2">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Status</th>
            <th>Hostname</th>
            <th>Adres</th>
            <th>Od</th>
            <th>Od</th>
            <th>Do</th>
            <th>Do</th>
            <th>Szczegóły</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="activeInaccessibility : ${activeInaccessibilities}">
            <td th:text="${activeInaccessibilityStat.index + 1}"></td>
            <td>aktywny</td>
            <td th:text="${activeInaccessibility.host.hostname}"></td>
            <td th:text="${activeInaccessibility.host.IPv4}"></td>
            <td th:text="${activeInaccessibility.dayOfBegin}"></td>
            <td th:text="${activeInaccessibility.hourOfBegin}"></td>
            <td>trwa</td>
            <td>trwa</td>
            <td><a th:href="@{/inaccessibility/{id}(id=${activeInaccessibility.id})}">zobacz</a></td>
        </tr>
        <tr th:each="inactiveInaccessibility : ${inactiveInaccessibilities}">
            <td th:text="${inactiveInaccessibilityStat.index + activeInaccessibilities.size() + 1}"></td>
            <td>archiwalny</td>
            <td th:text="${inactiveInaccessibility.host.hostname}"></td>
            <td th:text="${inactiveInaccessibility.host.IPv4}"></td>
            <td th:text="${inactiveInaccessibility.dayOfBegin}"></td>
            <td th:text="${inactiveInaccessibility.hourOfBegin}"></td>
            <td th:text="${inactiveInaccessibility.dayOfEnd}"></td>
            <td th:text="${inactiveInaccessibility.hourOfEnd}"></td>
            <td><a th:href="@{/inaccessibility/{id}(id=${inactiveInaccessibility.id})}">zobacz</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>