<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno History</title>
    <link rel="stylesheet" th:href="@{/main.css}"/>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Dashboard</a>
    <a th:href="@{/hosts}">Wszystkie hosty</a>
    <a th:href="@{/history}">Historia</a>
</div>
<div th:if="${revInaccessibilities.size() == 0}" class="additional-comments">Brak zarejestrowanych niedostępności w bazie danych!</div>
<div th:unless="${revInaccessibilities.size() == 0}" class="table-with-elements" align="center">
    <table border="2">
        <thead>
        <tr>
            <th>Lp.</th>
            <th>Aktywna</th>
            <th>Adres</th>
            <th>Od</th>
            <th>Do</th>
            <th>Opis</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="revInaccessibility : ${revInaccessibilities}">
            <td th:text="${revInaccessibilityStat.index + 1}"></td>
            <td th:text="${revInaccessibility.active}"></td>
            <td th:text="${revInaccessibility.host.IPv4}"></td>
            <td th:text="${revInaccessibility.hourOfBegin}"></td>
            <td th:text="${revInaccessibility.hourOfEnd}"></td>
            <td th:text="${revInaccessibility.description}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>