<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Dodawanie hosta</title>
    <link rel="stylesheet" href="/koturno.css"/>
    <script src="/sender.js"></script>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Hosty</a>
    <a th:href="@{/groups}">Grupy</a>
    <a th:href="@{/history/1}">Historia</a>
</div>
<div>
    <form action="#" th:action="@{/host/add}"
          th:object="${host}" method="post" id="comment">
        <span>Nazwa</span>
        <br>
        <input type="text" name="name" th:field="*{name}" th:value="${host.name}">
        <br>
        <br>
        <span>Adres</span>
        <br>
        <input type="text" name="address" th:field="*{IPv4}" th:value="${host.IPv4}">
        <br>
        <br>
        <span>Opis</span>
        <br>
        <textarea type="text" name="opis" th:field="*{description}"
                  th:value="${host.description}" rows="12" cols="60"></textarea>
    </form>
</div>
<br>
<div class="small-button">
    <div onclick="send()" class="small-button-label">Zapisz</div>
</div>
</body>
</html>