<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Informacje hosta</title>
    <link rel="stylesheet" href="/koturno.css"/>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Hosty</a>
    <a th:href="@{/groups}">Grupy</a>
    <a th:href="@{/history/1}">Historia</a>
</div>
<p>
    <span th:text="${host.hostname}" class="host-info-comments"></span>
    <br>
    <span th:text="${host.IPv4}" class="host-info-additional-comments"></span>
    <br>
    <span>Grupa: </span>
    <a th:href="@{/group/{id}(id=${host.getHostGroup().getId()})}"><span th:text="${host.hostGroup.name}"></span></a>
    <br>
    <span>Dodany dnia: </span>
    <span th:text="${host.dayWhenCreated}"></span>
    <br>
    <span>Status: </span>
    <span th:if="${host.active == true}">aktywny </span>
    <span th:if="${host.active == true}"><a th:href="@{/host/deactivate/{id}(id=${host.getId()})}">zmień</a></td></span>
    <span th:unless="${host.active == true}">nieaktywny </span>
    <span th:unless="${host.active == true}"><a th:href="@{/host/activate/{id}(id=${host.getId()})}">zmień</a></td></span>
    <br>
    <span>Opis: </span>
    <span th:if="${host.description.length() > 0}" th:text="${host.description}"></span>
    <span th:unless="${host.description.length() > 0}">brak</span>
    <br>
    <a th:href="@{/host/edit/{id}(id=${host.id})}">edytuj</a>
</p>
<div th:if="${hostInaccessibilities.size() == 0}" class="additional-comments">Brak zarejestrowanych niedostępności w bazie danych!</div>
<div th:unless="${hostInaccessibilities.size() == 0}" class="table-with-elements" align="center">
    <table border="2">
        <thead>
        <tr>
            <th>Lp.</th>
            <th colspan="2">Początek</th>
            <th colspan="2">Koniec</th>
            <th>Opis</th>
            <th>Szczegóły</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="hostInaccessibility : ${hostInaccessibilities}">
            <td th:text="${hostInaccessibilityStat.index + 1}"></td>
            <td th:text="${hostInaccessibility.dayOfBegin}"></td>
            <td th:text="${hostInaccessibility.hourOfBegin}"></td>
            <td th:if="${hostInaccessibility.isActive() == false}" th:text="${hostInaccessibility.dayOfEnd}"></td>
            <td th:unless="${hostInaccessibility.isActive() == false}">trwa</td>
            <td th:if="${hostInaccessibility.isActive() == false}" th:text="${hostInaccessibility.hourOfEnd}"></td>
            <td th:unless="${hostInaccessibility.isActive() == false}">trwa</td>
            <td th:text="${hostInaccessibility.description}"></td>
            <td><a th:href="@{/inaccessibility/{id}(id=${hostInaccessibility.id})}">zobacz</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>