<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Edycja niedostępności</title>
    <link rel="stylesheet" href="/koturno.css"/>
    <script src="/sender.js"></script>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Hosty</a>
    <a th:href="@{/groups}">Grupy</a>
    <a th:href="@{/history}">Historia</a>
</div>
<div>
    <span>Opis</span>
    <form action="#" th:action="@{/inaccessibility/update/{id}(id=${inaccessibility.id})}"
          th:object="${inaccessibility}" method="post" id="comment">
        <textarea type="text" name="opis" th:field="*{description}"
                  th:value="${inaccessibility.description}" rows="12" cols="60"></textarea>
    </form>
</div>
<br>
<div class="small-button">
    <div onclick="send()" class="small-button-label">Zapisz</div>
</div>
</body>
</html>