<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Koturno - Informacja niedostępności</title>
    <link rel="stylesheet" href="/koturno.css"/>
</head>
<body class="koturno-style">
<div class="dashboard-title">Koturno</div>
<div class="additional-comments">Prototyp</div>
<div class="main-menu">
    <a th:href="@{/}">Podgląd</a>
    <a th:href="@{/hosts}">Hosty</a>
    <a th:href="@{/groups}">Grupy</a>
    <a th:href="@{/history/1}">Historia</a>
</div>
<p>
    <a th:href="@{/host/{id}(id=${host.id})}" class="host-info-additional-comments"><span th:text="${host.name}"></span></a>
    <br>
    <a th:href="@{/host/{id}(id=${host.id})}" class="additional-comments"><span th:text="${host.address}"></span></a>
    <br>
    <span>Data początku: </span>
    <span th:text="${inaccessibility.dayOfBegin}"></span>
    <br>
    <span>Godzina początku: </span>
    <span th:text="${inaccessibility.hourOfBegin}"></span>
    <br>
    <span>Data końca: </span>
    <span th:if="${inaccessibility.active == true}">trwa</span>
    <span th:unless="${inaccessibility.active == true}" th:text="${inaccessibility.dayOfEnd}"></span>
    <br>
    <span>Godzina końca: </span>
    <span th:if="${inaccessibility.active == true}">trwa</span>
    <br th:if="${inaccessibility.active == true}">
    <span th:if="${inaccessibility.active == true}">
        <a th:href="@{/inaccessibility/ignore/{id}(id=${host.inaccessibilities.get(host.inaccessibilities.size() - 1).getId()})}">ignoruj</a>
    </span>
    <span th:unless="${inaccessibility.active == true}" th:text="${inaccessibility.hourOfEnd}"></span>
    <br>
    <span>Opis: </span>
    <span th:if="${inaccessibility.description.length() > 0}" th:text="${inaccessibility.description}"></span>
    <br th:if="${inaccessibility.description.length() > 0}">
    <span th:if="${inaccessibility.description.length() > 0}">
        <a th:href="@{/inaccessibility/edit/{id}(id=${inaccessibility.id})}">edytuj</a>
    </span>
    <span th:unless="${inaccessibility.description.length() > 0}">
        <a th:href="@{/inaccessibility/edit/{id}(id=${inaccessibility.id})}">dodaj</a>
    </span>
</p>
</body>
</html>